
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 1.3em;
  background: #fff;
  color: #333;
  padding: 20px;
  line-height: 1.5;
}


header,
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 650px;
  margin: 0 auto;
}

h1 {
  margin: 1rem;
  font-size: 2rem;
  color: navy;
  font-weight: bold;
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
}


form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
  display: grid;
  gap: 1rem;
}

fieldset {
  display: grid;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem 0;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}


.form-item {
  display: grid;
  align-items: center; 
  margin: 0.5rem 0;
}

.column1 {
  grid-template-columns: 3fr 1fr; 
}

.column2 {
  grid-template-columns: 1fr 2fr; 
}


label,
input,
select,
textarea,
button {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  text-align: right;
  padding-right: 16px;
}

input,
select,
textarea {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #bbb;
  border-radius: 4px;
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
